:root   {   
     --text-color: #DBE4EF;
     --card-frint-color: #144480; 
     --card-back-color: #00F4BF; 
}

body {
     background: ulr;
     font-family: Bai Jamjuree;
}

#container  {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 4rem;
}

.cartao  {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem );
}

.cartao__conteudo h3 {
    background-color: var(--card-font-color);
    text-align: center;
    /* backgraud-color:aquamarine; */
    height: 100%;
    
}